{% import "_includes/forms" as forms %}

{{ forms.autosuggestField({
    label: "Access Key ID"|t('alibaba-oss'),
    id: 'keyId',
    name: 'keyId',
    suggestEnvVars: true,
    value: fs.keyId,
    errors: fs.getErrors('keyId'),
    class: 'oss-access-key-id',
    instructions: 'You can leave this field empty if you are using an EC2 instance with an applicable IAM role assignment.'|t('alibaba-oss')
}) }}

{{ forms.autosuggestField({
    label: "Secret Access Key"|t('alibaba-oss'),
    id: 'secret',
    name: 'secret',
    suggestEnvVars: true,
    value: fs.secret,
    errors: fs.getErrors('secret'),
    class: 'oss-access-key-secret-id',
    instructions: 'You can leave this field empty if you are using an EC2 instance with an applicable IAM role assignment.'|t('alibaba-oss')
}) }}

{% set bucketInput %}
    <div class="flex fullwidth">
        {{ forms.select({
            name: 'bucketSelectionMode',
            options: [
                { label: 'Choose…'|t('alibaba-oss'), value: 'choose' },
                { label: 'Manual…'|t('alibaba-oss'), value: 'manual' }
            ],
            value: fs.bucketSelectionMode,
            toggle: true,
            targetPrefix: '.bsm-'
        }) }}

        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            {{ forms.select({
                id: 'bucket',
                name: 'bucket',
                options: { (fs.bucket): fs.bucket },
                value: fs.bucketSelectionMode == 'manual' ? fs.bucket,
                readonly: true,
                class: 'oss-bucket-select'
            }) }}
        </div>
        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="btn oss-refresh-buckets">{{ "Refresh"|t('alibaba-oss') }}</div>
        </div>
        <div class="bsm-choose{% if fs.bucketSelectionMode == 'manual' %} hidden{% endif %}">
            <div class="spinner hidden"></div>
        </div>

        <div class="bsm-manual{% if fs.bucketSelectionMode == 'choose' %} hidden{% endif %} flex-grow">
            {{ forms.autosuggest({
                label: "Bucket"|t('alibaba-oss'),
                class: 'ltr oss-manualBucket',
                name: 'manualBucket',
                suggestEnvVars: true,
                value: fs.bucket,
                placeholder: 'Bucket'|t('alibaba-oss')
            }) }}
        </div>
        <div class="bsm-manual{% if fs.bucketSelectionMode == 'choose' %} hidden{% endif %} flex-grow">
            {{ forms.autosuggest({
                label: "Region"|t('alibaba-oss'),
                class: 'ltr oss-manualRegion',
                name: 'manualRegion',
                suggestEnvVars: true,
                value: fs.region,
                placeholder: 'Region'|t('alibaba-oss')
            }) }}
        </div>
    </div>

    <input type="hidden" name="region" class="oss-region" value="{{ fs.region }}" />
{% endset %}


{{ forms.field({
    label: "Bucket"|t('alibaba-oss'),
    id: 'bucket',
    required: true,
    errors: fs.getErrors('bucket'),
}, bucketInput) }}

{{ forms.autosuggestField({
    label: "Subfolder"|t('alibaba-oss'),
    instructions: "If you want to use a bucket’s subfolder as a filesystem, specify the path to use here."|t('alibaba-oss'),
    id: 'subfolder',
    class: 'ltr',
    name: 'subfolder',
    suggestEnvVars: true,
    value: fs.subfolder,
    errors: fs.getErrors('subfolder'),
    placeholder: "path/to/subfolder"|t('alibaba-oss')
}) }}

{{ forms.lightswitchField({
    label: "Add the subfolder to the Base URL?"|t('alibaba-oss'),
    instructions: "Turn this on if you want to add the specified subfolder to the Base URL."|t('alibaba-oss'),
    name: 'addSubfolderToRootUrl',
    on: fs.addSubfolderToRootUrl,
}) }}

{{ forms.lightswitchField({
    label: "Make Uploads Public"|t('alibaba-oss'),
    instructions: "Sets the ACL for uploaded objects.",
    id: 'makeUploadsPublic',
    name: 'makeUploadsPublic',
    on: fs.makeUploadsPublic
}) }}

<hr />
{% set cacheInput %}
    {% set expires = (fs.expires|length > 0 ? fs.expires|split(' ') : ['', ''])%}

    <div class="flex">
        <div>
            {{ forms.text({
                id: 'expiresAmount',
                value: expires[0],
                size: 2,
                class: 'oss-expires-amount'
            }) }}
        </div>
        {{ forms.select({
            id: 'expiresPeriod',
            options: periods,
            value: expires[1],
            class: 'oss-expires-period'
        }) }}
    </div>
    {{ forms.hidden({
        name: "expires",
        value: fs.expires,
        class: "expires-combined"
    }) }}
{% endset %}

{{ forms.field({
    label: "Cache Duration"|t,
    instructions: "The Cache-Control duration that assets should be uploaded to the cloud with.",
    id: 'cacheDuration',
}, cacheInput) }}

{{ forms.autosuggestField({
    label: "CloudFront Distribution ID"|t('alibaba-oss'),
    instructions: "If you’re using CloudFront as CDN for your assets, enter the distribution ID here so Assets can purge the files from CDN."|t('alibaba-oss'),
    id: 'cfDistributionId',
    class: 'ltr',
    name: 'cfDistributionId',
    suggestEnvVars: true,
    value: fs.cfDistributionId,
    errors: fs.getErrors('cfDistributionId')
}) }}

{{ forms.autosuggestField({
    label: "CloudFront Path Prefix"|t('alibaba-oss'),
    instructions: "If you’re using CloudFront as CDN for your assets and have configured subfolders or custom behaviors, enter the path prefix Craft should use when invalidating files."|t('alibaba-oss'),
    id: 'cfPrefix',
    class: 'ltr',
    name: 'cfPrefix',
    suggestEnvVars: true,
    value: fs.cfPrefix,
    errors: fs.getErrors('cfPrefix')
}) }}

{% do view.registerAssetBundle("craft\\alibabaoss\\AlibabaOssBundle") %}
